<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title></title>

    <link href="/webjars/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/webjars/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/webjars/ldf/css/ui.css" rel="stylesheet">
    <link href="/webjars/ldf/css/form.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/skin/html5shiv/html5shiv.min.js"></script>
      <script src="/skin/respond/dest/respond.min.js"></script>
    <![endif]-->
     <script src="/webjars/jquery/jquery.js"></script>
     <script src="/webjars/bootstrap/js/bootstrap.js"></script>
     <script src="/webjars/ldf/js/form.js"></script>
     <script src="/webjars/ldf/js/ui.js"></script>
     <script src="/webjars/angularjs/angular.js"></script>
     <script src="/webjars/angularjs/angular-route.js"></script>
     <script src="js/index.js"></script>
  </head>
  <body data-ng-app="index" data-ng-controller="body">
	<!-- 页面结构 -->
	<header class="navbar navbar-static-top">
   		<div class="navbar-header">
   			<a class="fa fa-bars pull-left" data-ng-click="toggleSide()"></a>
   			<a href="javascript: location=location;" class="navbar-brand"><span>|</span>楼上云应用支撑平台</a>
		</div>
	</header>
	<div class="ue-menu-wrap">
		<div class="ue-menu-left">
			<div class="ue-left-top" ></div>
			<div class="ue-left-content">
				<div class="ue-vmenu">
					<ul>
						<li data-ng-repeat = "menu in menus" data-ng-click="loadUrl()">
							<a class="clearfix" >
								<i class="ue-vmenu-icon leaf"></i><span>{{menu.text}}</span>
						    </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="ue-menu-right">
			<div class="ue-right-top">Welcome</div>
			<div class="ue-right-content" data-step="3" data-intro='工作区' data-position="left">
				<iframe data-ng-src="{{someUrl}}" frameborder="0" allowtransparency="true"  width="100%" height="100%"></iframe>
			</div>
		</div>
	</div>
  </body>
</html>